<div class="col-md-6">
  <fieldset>
    <div class="field">
      <%= f.label :content, "Answer #{index}" %><br>
      <%= f.text_field :content, id: "answer-#{index}-content" %>
    </div>
  </fieldset>
</div>
