<p>
  <strong>Content:</strong>
  <%= question.content %>
</p>

<p>
  <strong>Description:</strong>
  <%= question.description %>
</p>

<%= link_to 'Edit', edit_question_path(question), id: "edit-question-#{question.id}" %> |
<%= link_to 'Back', questions_path %>
