<%= form_for [question, @comment], remote: true do |f| %>
  <div class="input-group", id="comment-question-<%=question.id%>" >
    <%= f.text_field :content %>
    <span class="input-group-btn">
      <%= f.submit 'Comment' %>
    </span>
  </div>
<% end %>
