<%= form_for [answer, @vote], remote: true do |f| %>
  <a class="thumbnail">
    <%= image_tag(answer.image(:thumb)) %>
    <div class="caption">
      <h5><%= answer.content %></h5>
    </div>
  </a>
  <%= f.submit id: "vote-answer-#{answer.id}" %>
<% end %>
