<% if object.errors.any? %>
  <div class="alert alert-warning">
    <h2><%= pluralize(object.errors.count, "error") %> prohibited this question from being saved:</h2>

    <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
